<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
</head>
<body>
        
           
        <main class="main">
            <aside class="sidebar">
              <nav class="nav">
              <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
              <div id="counter"> Wryyyyy : {{global_count}}</div>
                <ul>
                  <li><a id="pouvoir1" (click)="pouvoir_1()">Magician's Red(+3 click)<br>5 click needed</a></li>
                  <li><a id="pouvoir2" (click)="pouvoir_2()">Star Platinum(+100 click)<br>50 click needed</a></li>
                  <li><a id="pouvoir3" (click)="pouvoir_3()">Za WARUDO!(+500click/5sec)<br>500 click needed</a></li>
                  <li><a id="pouvoir4" (click)="pouvoir_4()">Korega Requiem Da...<br>5000 click needed</a></li>
                </ul>
              </nav>
            </aside>
          </main>
          <mat-toolbar class="mat-toolbar">
            <a id="devName" href="/">Zinédine Menadjelia</a>
            <div class="spacer"></div>
            <a href="https://github.com/zine75020">Github : zine75020</a>
          </mat-toolbar>
          <img  src="https://www.kindpng.com/picc/m/138-1386981_anime-face-png-kono-dio-da-png-transparent.png" id="dio" (click)="onClick()">
</body>
</html>