
body {
  background-image: url(background.png);
}
  #dio {
  -webkit-animation: rotation 5s infinite linear;
  width: 500px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  right: 10px;
}
#button {
  -webkit-animation: rotation 5s infinite linear;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#counter {
  position: relative;
  top: 0em;
  left: 0em;
  font-size: xx-large;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
.sideNav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
mat-sidenav {
  width: 45vh;
  height: 1000vh;
}
.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: #312450;
  font-size: 0.65em;
}
.nav {
  position: relative;
  margin: 0%;
  text-align: left;
  top: 20%;
  transform: translateY(-50%);
  font-weight: bold;
}
.nav ul {
  list-style: none;

  li {
    position: relative;
    margin: 2em 0;
    &.active a {
      color: white;
    }

    &:not(.active)::after {
      opacity: 0.2;
    }

    &:not(.active):hover a {
      color: rgba(#fff, 0.75);
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #5e42a6, #b74e91);
    }
  }
}
.nav a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(#fff, 0.35);
  display: block;
  transition: all ease-out 300ms;
}

#test {
}

.mat-toolbar {
  position: absolute;
  top: 690px;
}
.mat-toolbar a:hover{
  color: purple;
}
.mat-toolbar a{
  text-decoration: none;
}
.spacer{
  flex : 1;
}
#devName{
  text-decoration: none;
}
#devName :hover{
  color : purple;
}